#main__container {
    background: purple;
    width: 90vw;
    height: 80vh;
    margin: 5vh auto;
    position: relative;
}

#main__container-topbar {
    position: absolute;
    width: 100%;
    height: 5vh;
    top: 0;
    background: grey;
}
#main__container-bottombar {
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0;
    background: grey;
}